@media screen and (max-width: 992px) {
  .label-col {
    display: none !important;
  }
}

h3 {
  background-color: #7bc76f;
}

.form-label {
  font-weight: 600;
  font-family: "Montserrat";
  font-size: small;
}

.form-control {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 0;
  border: solid 1px black;
  padding: 5px;
  margin: 0;
}

.form-control::placeholder {
  color: rgba(128, 128, 128, 0.473);
  font-size: small;
  padding: 0.5rem;
}
